<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrapに必要なmeta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">

	<title>同時人狼</title>
	<style type="text/css">
		.form{
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: 64px auto;
		}
		.form button{
			margin-top: 16px;
		}
		.list-group-item{
			cursor: pointer;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="index.html">同時人狼</a>
	</nav>
	<div id="view" class="container">

		<!-- 名前設定 -->
		<form id="name_setting" class="form d-none">
			<label for="inputName" class="sr-only">あなたの名前</label>
			<input type="text" id="inputName" class="form-control" placeholder="あなたの名前" required autofocus>
			<button id="join_game" class="btn btn-lg btn-primary btn-block" type="submit">ゲームに参加</button>
		</form>

		<!-- プレイヤーリスト -->
		<div id="player-list" class="d-none">
			<p class="text-right playerName"></p>
			<div id="dead-player" class="alert alert-danger d-none" role="alert"></div>
			<div id="suspicious-player" class="alert alert-warning d-none" role="alert"></div>
			<div id="action-result" class="alert d-none" role="alert"></div>
			<div class="card" style="width: 100%; margin: 16px 0;">
				<div class="card-body">
					<h5 class="card-title gameStatus"></h5>
					<h6 id="role-name" class="card-subtitle mb-2 text-muted "></h6>
					<p id="description" class="card-text"></p>
					<div id="wolf-list-wrap" class="d-none">
						<p>人狼リスト</p>
						<ul id="wolf-list" class="list-group"></ul>
					</div>
					<div id="linebtn-wrap" class="d-none">
						<div id="linebtn" class="line-it-button d-none" data-lang="ja" data-type="share-a" data-url="" style="display: none;"></div>
					</div>
				</div>
			</div>
			<input id="selected_user" type="text" class="d-none">
			<ul class="list-group players-list"></ul>
			<div id="submit_select" class="d-none" style="margin-top:16px;">
				<button id="submit_select_btn" class="btn btn-primary" style="width: 100%;">選択を保存</button>
				<p><small>プレイヤー全員が操作を終えるまで変更可能です。</small></p>
			</div>
			<div id="start_game" class="d-none" style="margin-top:16px;">
				<button  class="btn btn-primary" style="width: 100%;">募集締切&ゲーム開始</button>
			</div>
			<div id="reload" style="margin-top:16px;">
				<button  class="btn btn btn-outline-secondary" style="width: 100%;">ページを更新</button>
				<p><small>最新の状況を見るために、定期的にページを更新して下さい。</small></p>
			</div>
            <div id="role-list" class="d-none">
                <div class="card" style="width: 100%; margin: 16px 0;">
                    <div class="card-body">
                        <h5>役職リスト</h5>
                        <ul id="role-list-wrap" class="list-group"></ul>
                    </div>
                </div>
            </div>
			<div style="height: 64px;"></div>
		</div>
		<!-- 情報ページ -->
		<div id="information" class="d-none">
			<p class="text-right playerName"></p>
			<h4 class="text-center gameStatus" style="margin: 32px 0;"></h4>
			<div class="text-center" style="padding: 32px 0;">
				<button id="check_result" class="btn btn-primary btn-lg">役職一覧を見る</button>
			</div>
		</div>
	</div>
	<script id="wolf_item" type="text/html">
		<li class="list-group-item">
			<p class="m-0 float-left"><%= playerName %></p>
			<p class="m-0 float-right"><%= targetName %></p>
		</li>
	</script>
	<script id="player_item_owner" type="text/html">
		<li class="list-group-item" userId="<%= userId %>">
			<p class="m-0 float-left"><%= playerName %></p>
			<p class="m-0 float-right"><button class="btn btn-secondary btn-sm delete-player">削除</button></p>
		</li>
	</script>
	<script id="player_item" type="text/html">
		<li class="list-group-item" userId="<%= userId %>"><%= playerName %></li>
	</script>
    <script id="role-list-item" type="text/html">
        <li class="list-group-item">
            <p class="m-0 float-left"><%= roleName %></p>
            <p class="m-0 float-right"><%= num %></p>
        </li>
    </script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
	<script type="text/javascript" src="js/loadingoverlay.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
    <!-- AWS SDK -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.186.0.min.js"></script>
    <!-- AWS Cognito SDK -->
    <script src="js/aws-cognito-sdk.min.js"></script>
    <script src="js/amazon-cognito-identity.min.js"></script>
    <!-- Credential Script -->
    <script src="js/credential.js"></script>
    <!-- API Gateway SDK -->
    <script type="text/javascript" src="js/lib/axios/dist/axios.standalone.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/rollups/hmac-sha256.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/rollups/sha256.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/components/hmac.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/components/enc-base64.js"></script>
    <script type="text/javascript" src="js/lib/url-template/url-template.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/sigV4Client.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/apiGatewayClient.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/simpleHttpClient.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/utils.js"></script>
    <script type="text/javascript" src="js/apigClient.js"></script>
	<!-- Other Script -->
    <script src="js/common.js"></script>
    <script type="text/javascript">
    	const gameStatus = {
		    waiting: 'waiting',
		    setting: 'setting',
		    night: 'night',
		    day: 'day',
		    finished: 'finished'
		};
		const roleObj = {
			'wolf': {name: '人狼', description: '今晩殺す人を選んで下さい。'},
			'madman': {name: '狂人', description: '場を混乱させ、人狼に加担して下さい。怪しい人を選ぶという体で誰かを適当に選んで下さい。'},
			'palmist': {name: '占い師', description: '今晩、占いたい人を選んで下さい。'},
			'knight': {name: '騎士', description: '今晩、守りたい人を選んで下さい。'},
			'mystic': {name: '霊媒師', description: '処刑された人が人狼か人間か確認して下さい。怪しい人を選んで下さい。'},
			'citizen': {name: '市民', description: '怪しい人を選んで下さい。'},
		};
        const roleNumber = {
            6:{wolf:1, madman:1, palmist:1, knight:1, citizen:2},
            7:{wolf:1, madman:1, palmist:1, knight:1, citizen:3},
            8:{wolf:2, madman:1, palmist:1, knight:1, citizen:3},
            9:{wolf:2, madman:1, palmist:1, knight:1, citizen:4},
            10:{wolf:2, madman:1, palmist:1, knight:1, mystic:1, citizen:4},
            11:{wolf:2, madman:1, palmist:1, knight:1, mystic:1, citizen:5},
            12:{wolf:2, madman:1, palmist:1, knight:1, mystic:1, citizen:6},
            13:{wolf:3, madman:1, palmist:1, knight:1, mystic:1, citizen:6},
            14:{wolf:3, madman:1, palmist:1, knight:1, mystic:1, citizen:7},
            15:{wolf:3, madman:1, palmist:1, knight:1, mystic:1, citizen:8},
            16:{wolf:3, madman:2, palmist:1, knight:1, mystic:1, citizen:8},
            17:{wolf:3, madman:2, palmist:1, knight:1, mystic:1, citizen:9},
            18:{wolf:3, madman:2, palmist:1, knight:1, mystic:1, citizen:10}
        };
    	const gameId = getURLParam('id');
    	const wolf_item = _.template($('#wolf_item').html());
    	const player_item = _.template($('#player_item').html());
        const player_item_owner = _.template($('#player_item_owner').html());
        const role_list_item = _.template($('#role-list-item').html());
    	$(function(){
    		$('#linebtn').attr({'data-url': 'https://douji-jinrou.com/game.html?id=' + gameId});
			$.LoadingOverlay('show');
    		initAPIClient()
    		.then(function(apigClient){
    			return apigClient.gameGet({gameId: gameId},{},{});
    		})
    		.then(function(result){
    			$.LoadingOverlay('hide');
    			console.log(result);
    			const player = result.data.player;
    			const game = result.data.game;
    			const players = result.data.players;
    			if(!player){
    				//名前の設定を行う画面を表示
    				$('#name_setting').removeClass('d-none');
    			}else if(game.gameStatus == gameStatus.waiting){
    				$('#player-list').removeClass('d-none');
    				$('.playerName').text('プレイヤー名:' + player.playerName);
    				$('.gameStatus').text('メンバー募集中です');
    				$('#linebtn-wrap').removeClass('d-none');
    				if(player.userId == game.ownerId){
    					$('#start_game').removeClass('d-none');
    					$('#description').text('このページのURLをシェアして下さい。このページのURLにアクセスすることでこのゲームに参加することができます。全員が参加したら、ページ下部の「募集締め切り&ゲーム開始」ボタンを押してゲームを開始して下さい。ページを再読込することで最新のメンバー一覧を取得できます。');
    					players.forEach(function(value){
    						$('.players-list').append(player_item_owner({userId: value.userId, playerName: value.playerName}));
    					});
    				}else{
    					$('#description').text('このページのURLを参加者にシェアして下さい。このURLにアクセスすることでこのゲームに参加することができます。');
    					players.forEach(function(value){
    						$('.players-list').append(player_item({userId: value.userId, playerName: value.playerName}));
    					});
    				}
    				$('.players-list li[userId="'+ player.userId +'"]').addClass('disabled');
    			}else if(game.gameStatus == gameStatus.finished || player.status == 'dead'){
                	//ゲーム終了もしくは死亡時に表示される
                	$('#information').removeClass('d-none');
                	$('.playerName').text('プレイヤー名:' + player.playerName);
                	if(game.gameStatus == gameStatus.finished){
                		const winnerText = game.winner == 'humans' ? '人間の勝利です。' : '人狼の勝利です。'
                		$('.gameStatus').text('【ゲーム終了】:' + winnerText);
                	}else{
                		$('.gameStatus').text('死亡しました。');
                	}

    			}else if(game.gameStatus == gameStatus.night || game.gameStatus == gameStatus.day){
    				$('#player-list').removeClass('d-none');
    				$('#reload').removeClass('d-none');
                    if(game.numOfPlayers){
                        $('#role-list').removeClass('d-none');
                        const roles = roleNumber[game.numOfPlayers]
                        Object.keys(roles).forEach(function(roleName,index){
                            $('#role-list-wrap').append(role_list_item({roleName: roleObj[roleName].name, num: roles[roleName] + '人'}));
                        });
                    }
    				if(game.gameStatus == gameStatus.night){
    					$('.gameStatus').text('夜の時間です。');
    					$('#description').text(roleObj[player.role].description);
    					if(game.killed){
    						$('#dead-player').removeClass('d-none');
    						$('#dead-player').text('投票により処刑されたのは、' + game.killed + 'さんでした。');
    					}
    				}else{
    					$('.gameStatus').text('昼の時間です。');
    					$('#description').text('昼に処刑する人を、プレイヤー全員で話し合った上で、各自投票して下さい。');
    					//殺された人、怪しい人
    					if(game.killed){
    						$('#dead-player').removeClass('d-none');
    						$('#dead-player').text('昨晩殺されたのは、' + game.killed + 'さんでした。');
    					}else{
    						$('#dead-player').removeClass('d-none');
    						$('#dead-player').text('昨晩殺された人は、誰もいませんでした。');
    					}
    					if(game.suspicious){
    						$('#suspicious-player').removeClass('d-none');
    						$('#suspicious-player').text('みんなが怪しいんでいるのは、' + game.suspicious + 'さんです。');
    					}
    				}
    				$('.playerName').text('プレイヤー名:' + player.playerName);
    				$('#role-indicator').removeClass('d-none');
    				$('#role-name').text('あなたの役職： ' + roleObj[player.role].name);
					players.forEach(function(value){
						$('.players-list').append(player_item({userId: value.userId, playerName: value.playerName}));
					});
    				//選択中のユーザーを表示
    				if(player.target){
    					$('.players-list li[userId="'+ player.target +'"]').addClass('active');
    					$('#selected_user').val(player.target);
    				}
    				//役職ごとの情報表示
                    if(player.role == 'wolf'){
                    	//選択ボタンを表示
                    	$('#submit_select').removeClass('d-none');
                    	//他の人狼を表示
                    	$('#wolf-list-wrap').removeClass('d-none');
                    	result.data.wolfs.forEach(function(wolf){
                    		let targetText = '';
                    		if(wolf.target){
                    			targetText = '選択中:' + wolf.targetName;
                    		}else if(wolf.status == 'dead'){
                    			targetText = '死亡';
                    		}else{
                    			targetText = '未選択';
                    		}
                    		$('#wolf-list').append(wolf_item({playerName: wolf.playerName, targetName: targetText}));
                    	});
                    }else if(player.role == 'madman'){
                        //選択ボタンを表示
                    	$('#submit_select').removeClass('d-none');
                    }else if(player.role == 'palmist'){
                        //選択ボタンを表示
                    	$('#submit_select').removeClass('d-none');
                    	//占い結果があれば表示する
                    	if(player.palmist){
                    		$('#action-result').removeClass('d-none');
                    		if(player.palmist.role == 'wolf'){
                    			$('#action-result').addClass('alert-danger')
                    			$('#action-result').text('占い結果: ' + player.palmist.name + 'さんは、人狼です。');
                    		}else{
                    			$('#action-result').addClass('alert-primary');
                    			$('#action-result').text('占い結果: ' + player.palmist.name + 'さんは、人間です。');
                    		}
                    	}
                    }else if(player.role == 'knight'){
                        //選択ボタンを表示
                    	$('#submit_select').removeClass('d-none');
                    }else if(player.role == 'mystic'){
                        //霊媒師には、最も直近で死んだ人の情報を提供
                        if(player.mystic){
                    		$('#action-result').removeClass('d-none');
                    		if(player.mystic.role == 'wolf'){
                    			$('#action-result').addClass('alert-danger')
                    			$('#action-result').text('死者の声: 死亡した' + player.mystic.name + 'さんは、人狼でした。');
                    		}else{
                    			$('#action-result').addClass('alert-primary');
                    			$('#action-result').text('死者の声: 死亡した' + player.mystic.name + 'さんは、人間でした。');
                    		}
                    	}
                        $('#submit_select').removeClass('d-none');
                    }else if(player.role == 'citizen'){
                        //市民には特になし
                        //選択ボタンを表示
                    	$('#submit_select').removeClass('d-none');
                    }
                }
    		})
    		.catch(function(err){
    			$.LoadingOverlay('hide');
    			console.log(err);
    		})
    	});

    	//ゲームに参加
    	$('#join_game').click(function(e){
    		e.preventDefault();
    		if($('#inputName').val() != ''){
    			$.LoadingOverlay('show');
	    		initAPIClient()
	    		.then(function(apigClient){
	    			return apigClient.playerPost({gameId: gameId},{name: $('#inputName').val()},{});
	    		})
	    		.then(function(result){
	    			$.LoadingOverlay('hide');
	    			console.log(result);
	    			location.reload();
	    		})
	    		.catch(function(err){
	    			$.LoadingOverlay('hide');
	    			console.log(err);
	    			showAlert('エラー', err.data.errorMessage, 'error');
	    		});
    		}else{
    			showAlert('名前を入力して下さい', '', 'warning');
    		}
    	});

    	$(document).on('click', '.delete-player', function(e){
    		console.log($(this).closest('.list-group-item').attr('userId'));
    		const deletePlayer = $(this).closest('.list-group-item').attr('userId');
    		showConfimAlert('警告', 'このユーザーを削除しますか？', 'warning', '削除する', function(){
	    		$.LoadingOverlay('show');
				initAPIClient()
	    		.then(function(apigClient){
	    			return apigClient.playerPost({gameId: gameId}, {deletePlayer: deletePlayer},{});
	    		})
	    		.then(function(result){
	    			$.LoadingOverlay('hide');
	    			console.log(result);
	    			location.reload();
	    		})
	    		.catch(function(err){
	    			$.LoadingOverlay('hide');
	    			console.log(err);
	    			showAlert('エラー', err.message, 'error');
	    		});

    		})
    	});
    	//メンバー募集を締め切る
    	$('#start_game').click(function(e){
    		$.LoadingOverlay('show');
			initAPIClient()
    		.then(function(apigClient){
    			return apigClient.playerPost({gameId: gameId}, {action: 'start_game'},{});
    		})
    		.then(function(result){
    			$.LoadingOverlay('hide');
    			console.log(result);
    			location.reload();
    		})
    		.catch(function(err){
    			$.LoadingOverlay('hide');
    			console.log(err);
    			showAlert('エラー', err.data.errorMessage, 'error');
    		});
    	});

    	$(document).on('click', '.list-group-item', function(){
    		$(this).siblings().removeClass('active');
    		$(this).addClass('active');
    		$('#selected_user').val($(this).attr('userId'));
    	});

    	$('#submit_select_btn').click(function(e){
    		if($('#selected_user').val() != ''){
    			$.LoadingOverlay('show');
				initAPIClient()
	    		.then(function(apigClient){
	    			return apigClient.playerPost({gameId: gameId}, {userId: $('#selected_user').val()},{});
	    		})
	    		.then(function(result){
	    			$.LoadingOverlay('hide');
	    			console.log(result);
	    			location.reload();
	    		})
	    		.catch(function(err){
	    			$.LoadingOverlay('hide');
	    			console.log(err);
	    			showAlert('エラー', err.data.errorMessage, 'error');
	    		});
    		}else{
    			showAlert('ターゲットを選択して下さい。', '', 'warning');
    		}
    	});

    	$('#check_result').click(function(){
    		window.location.href = 'result.html?id=' + gameId;
    	});

    	$('#reload').click(function(){
    		location.reload();
    	});
    </script>
</body>
</html>