<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrapに必要なmeta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">

	<title>同時人狼</title>
	<style type="text/css">
		.form{
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: 64px auto;
		}
		.form button{
			margin-top: 16px;
		}
		.list-group-item{
			cursor: pointer;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="index.html">同時人狼</a>
	</nav>
	<div id="view" class="container">
		<div id="player-list">
			<h4 id="gameStatus" class="text-center" style="margin: 32px 0;"></h4>
			<ul id="players-list" class="list-group"></ul>
		</div>
	</div>

	<script id="player_item" type="text/html">
		<li class="list-group-item">
			<p class="m-0 float-left"><%= playerName %></p>
			<p class="m-0 float-right"><%= role %></p>
		</li>
	</script>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
	<script type="text/javascript" src="js/loadingoverlay.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
    <!-- AWS SDK -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.186.0.min.js"></script>
    <!-- AWS Cognito SDK -->
    <script src="js/aws-cognito-sdk.min.js"></script>
    <script src="js/amazon-cognito-identity.min.js"></script>
    <!-- Credential Script -->
    <script src="js/credential.js"></script>
    <!-- API Gateway SDK -->
    <script type="text/javascript" src="js/lib/axios/dist/axios.standalone.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/rollups/hmac-sha256.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/rollups/sha256.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/components/hmac.js"></script>
    <script type="text/javascript" src="js/lib/CryptoJS/components/enc-base64.js"></script>
    <script type="text/javascript" src="js/lib/url-template/url-template.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/sigV4Client.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/apiGatewayClient.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/simpleHttpClient.js"></script>
    <script type="text/javascript" src="js/lib/apiGatewayCore/utils.js"></script>
    <script type="text/javascript" src="js/apigClient.js"></script>
	<!-- Other Script -->
    <script src="js/common.js"></script>
    <script type="text/javascript">
		const roleObj = {
			'wolf': {name: '人狼', description: '今晩殺す人を選んで下さい。'},
			'madman': {name: '狂人', description: '場を混乱させ、人狼に加担して下さい。怪しい人を選ぶという体で誰かを適当に選んで下さい。'},
			'palmist': {name: '占い師', description: '今晩、占いたい人を選んで下さい。'},
			'knight': {name: '騎士', description: '今晩、守りたい人を選んで下さい。'},
			'mystic': {name: '霊媒師', description: '処刑された人が人狼か人間か確認して下さい。怪しい人を選んで下さい。'},
			'citizen': {name: '市民', description: '怪しい人を選んで下さい。'},
		}
    	const gameId = getURLParam('id');
    	const player_item = _.template($('#player_item').html());
    	$(function(){
	    	$.LoadingOverlay('show');
			initAPIClient()
			.then(function(apigClient){
				return apigClient.gameGet({gameId: gameId},{},{});
			})
			.then(function(result){
				$.LoadingOverlay('hide');
				console.log(result);
				const game = result.data.game;
				const players = result.data.players;
				let gameStatusText = '';
				if(game.winner){
					gameStatusText = game.winner == 'humans' ? '人間の勝利です。' : '人狼の勝利です。';
				}else{
					gameStatusText = '死亡しました。';
				}
				$('#gameStatus').text(gameStatusText);
				players.forEach(function(player){
					$('#players-list').append(player_item({playerName: player.playerName, role: roleObj[player.role].name}));
				});
			})
			.catch(function(err){
				$.LoadingOverlay('hide');
				console.log(err);
			});
    	})
    </script>
</body>
</html>